ESLINT_NO_DEV_ERRORS=true

API Key: c3e422a2ea4fbce1b97cbebce6616f71

Here's an example API request:

https://api.themoviedb.org/3/movie/550?api_key=c3e422a2ea4fbce1b97cbebce6616f71

---
https://vitejs.dev/config/shared-options.html#envprefix